<div class="site-page-">
  <nz-page-header>
    <nz-page-header-title>Барабинск</nz-page-header-title>
    <nz-page-header-extra>
      <nz-space>
        <a nz-button nzType="link" href="Main" class="button-menu">Главная</a>
        <a nz-button nzType="link" href="City" class="button-menu">Население</a>
        <a nz-button nzType="link" href="Peepol" class="button-menu">Пользователи</a>
        <a nz-button nzType="link" href="Me" class="button-menu">О разработчике</a>
      </nz-space>
    </nz-page-header-extra>
    <nz-page-header-content>

      <div nz-row nzJustify="space-around" nzAlign="middle">
        <div nz-col nzFlex="2">
          <img
          nz-image
          width="500px"
          height="300px"
          nzSrc="assets/img/img2.jpg"
          alt=""
        />
        
    </div>
    <div nz-col nzFlex="1"></div>
    <div nz-col nzFlex="1"></div>
    <div nz-col nzFlex="1"></div>
    <div nz-col nzFlex="1"><p class="height-100">
      <p nz-typography class="p">{{data.izm}}</p>

      <p nz-typography class="p">{{data.izm2}}</p>

      <p nz-typography class="p">{{data.izm3}}</p>
   </div>
  </div>
  <br>
  <div nz-col nzFlex="1"></div>
  <div nz-col nzFlex="1"></div>
  <a nz-button nzType="link" href="Edit" class="button-menu">Править</a>
    </nz-page-header-content>
  </nz-page-header>
</div>
