<div class="site-page">
    <nz-page-header>
      <div id="left"></div>
		  <div id="right"></div>
      <nz-page-header-title>Бара́бинск</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
         <a nz-button nzType="link" href="Main" class="button-menu">Главная</a>
         <a nz-button nzType="link" href="City" class="button-menu">Население</a>
         <a nz-button nzType="link" href="Peepol" class="button-menu">Пользователи</a>
         <a nz-button nzType="link" href="Me" class="button-menu">О разработчике</a>
        </nz-space>
      </nz-page-header-extra>
	  <nz-page-header-content>
		<img
		nz-image
		width="700px"
		height="300px"
		nzSrc="assets/img/stat.jpg"
		alt=""
	  />
    <p nz-typography class="p">На 1 января 2021 года по численности населения город находился на 521-м месте из 1116 городов Российской Федерации.</p>
  </nz-page-header-content>
</nz-page-header>
</div>

