<div class="site-page">
    <nz-page-header>
      <nz-page-header-title>Барабинск</nz-page-header-title>
      <nz-page-header-extra>
        <nz-space>
          <a nz-button nzType="link" href="Main" class="button-menu">Главная</a>
          <a nz-button nzType="link" href="City" class="button-menu">Население</a>
          <a nz-button nzType="link" href="Peepol" class="button-menu">Пользователи</a>
          <a nz-button nzType="link" href="Me" class="button-menu">О разработчике</a>
        </nz-space>
      </nz-page-header-extra>
      <nz-page-header-content>
        <form nz-form [formGroup]="userAboutForm">
        <nz-table #basicTable nzTemplateMode>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>ФИО</th>
                    <th>Активность</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>        
                <tr>
                 <td>
                    
                    <input nz-input type="text" [(ngModel)]="user.id" formControlName="id"/>
                    </td>
                    <td>
                        <input nz-input type="text" [(ngModel)]="user.name" formControlName="name"/>
                    </td>
                    <td>
                        <input nz-input type="text" [(ngModel)]="user.act" formControlName="act"/>
                    </td>
                    <td>
                        <button nz-button type="submit" (click)="changeUser()"> Save </button>
                        
                    </td>           
             </tbody>
            </nz-table>
        </form>
        </nz-page-header-content>
    </nz-page-header>
</div>

              